<head>
	<script type="/app/stylesheets/application.css"> </script>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
	</script>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
</head>

<body>
<% if @results.empty? %>
	<h1> Sorry no recipes found :(  </h1>
<% else %>
	<h1> Check out these recipes: </h1>
	  <ul>
	    <% @results.each do |result| %>
	    	 <li> <a class="recipe-results" href= "<%=result['url']%>"> <%= result['label'] %> </a>
				</li>
		<% end %>
	  </ul>
<% end %>
 
</body>