<h1> Check out these recipes: </h1>

<% @ingredients.each do |user_ingredient| %> 
  <% @all_ingredients.each do |recipe_ingredients| %>
  	<% if recipe_ingredients.item.include?(user_ingredient) %> 
  		<% recipe_ingredients.recipes.each do |dish|  %> 
  			<li>	<%= dish.dish_name %> </li>
  		<% end %> 
  	<% end %> 
 	<% end %>
<% end %>