<head>
	<script type="/app/stylesheets/application.css"> </script>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous">
	</script>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<!-- 	<div id="bkg">
	  <img class="bkg-1" src="https://source.unsplash.com/WPt_YmiYm7a4/2577×1746" />
	  <img class="bkg-2" src="https://source.unsplash.com/8qDTh2VuY2E/2577×1746" />
	  <img class="bkg-3" src="https://source.unsplash.com/OSwea3yxjT0/2577×1746" />
	  <img class="bkg-4" src="https://source.unsplash.com/2nEcBg8iKsw/2577×1746" />
	  <img class="bkg-5" src="https://source.unsplash.com/-r5KSMkyoSc/2577×1746" />
	</div> -->
</head>

<body> 
	<div class="main"> 
		<h1> Hello Beautiful, what would you like to make today? </h1>
		<form id="recipe-form" action="recipes/index" method="get"> 
			<input class="ingredient-input" type="text" name="ingredients"> 
			<input class="create-btn" type="submit" value="Create">
		</form>
	</div> 
</body>